<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %> <br>Email: <%=user.email%></p>
<div class="row"><a href="#Updateprofile" class="btn btn-info">Change profile</a>
  <a href="/users/logout" class="btn btn-secondary">Logout</a>
  
</div>
<br>
<h3>Create new Contact!</h3>
<br>
<form action="/users/task" method="POST" >
    <input type="hidden" name="_id" value="<%=user._id%>">
    
    <div class="form-group row">        
        <!-- <div class="col-12 col-sm-6"> -->
            <label class="col-12 col-sm-2">Name</label>
            <input type="text" class="form-control col-12 col-sm-5" id="name" name="name" 
            placeholder="Name">
        <!-- </div>        -->
    </div>
    <div class="form-group row">        
          <!-- <div class="col-12 col-sm-6"> -->
              <label class="col-12 col-sm-2">Phone</label>
          <input type="text" class="form-control col-12 col-sm-5" id="phone" name="phone" 
          placeholder="Phone number" >
        <!-- </div>  -->
    </div>
    <div class="form-group row">        
          <!-- <div class="col-12 col-sm-6"> -->
              <label class="col-12 col-sm-2">Email</label>
          <input type="email" class="form-control col-12 col-sm-5" id="name" name="email" 
          placeholder="Email" >
        <!-- </div> -->
    </div>
    <div class="form-group row"> 
        <div class="col-12 col-sm-5 offset-4">
          <button type="submit" class="btn btn-success">Save</button>
          <a class="btn btn-info" href="./vie"> View Contacts</a>
        </div> 
    </div>
    
</form> 

<div id="Updateprofile">

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Register
        </h1>
        <form action="/users/update" method="POST">
            <input type="hidden" name="_id" value="<%=user._id%>">

          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%=user.name%>"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%=user.email %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            UPDATE
          </button>
        </form>
      </div>
    </div>
  </div>
</div>




  